.Lab {
    background-color: #2b2f8e;
    margin: 0;
    height: 100%;
    color: white;
}

.Lab .row {
    margin-right: 0;
}

.Lab .row>.col-md-10 {
    padding: 0px;
}

@media (max-width: 980px) {
    .Lab .row>.col-md-2 {
        display: none;
    }
    .row>.col-md-10 {
        flex: unset;
        max-width: unset;
    }
}